mixin slide(classNames)
  if classNames
    section(class=classNames, data-bespoke-backdrop='backdrop ' + classNames.split(' ').map(function(className) { return 'backdrop--' + className; }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title The Future of Web Apps

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      +slide
        img.avatar(src='images/profile.jpg', style='border:none')
        h4 @markdalgleish

      +slide('yellow cascade')
        h2 The Future
        h3 of
        h2 Web Apps

      +slide('green cascade')
        h2 Web
        h3 vs
        h2 Native

      +slide('orange cascade')
        h2 Disclaimer:<br><br>
        h2 I&rsquo;m a web fanboy

      +slide('blue')
        h2.cascade
          div Why<br><br><br>
          div build<br><br><br>
          div native<br><br><br>
          div apps?

      +slide('red')
        h2 Performance

      +slide('blue')
        h2 Priority

      +slide('green')
        h2 Convenience

      +slide('orange')
        h2 Engagement

      +slide('blue')
        h2.cascade
          div How&rsquo;s<br><br><br>
          div the<br><br><br>
          div web<br><br><br>
          div better?

      +slide('yellow')
        h2 Ephemeral

      +slide('green')
        h2 Universal

      +slide('red')
        h2 Continuous

      +slide('grey')
        h2 Can the web be<br><br>more app-like?

      +slide('green')
        h2 Yes.

      +slide('red')
        h2 Performance?

      +slide('ganesh')
        h2 Project Ganesh

      +slide('blue cascade')
        .avatar(style='background-image:url(images/ryanschoen.jpg)')
        h3(style='width: 800px') &ldquo;Our goal is to make 60fps a reality on all content,<br>and on all devices.&rdquo;
        h4 Ryan Schoen, Chrome

      +slide('green cascade')
        h2 60fps for<br><br>
        h2 all animations&hellip;

      +slide('orange cascade')
        h2 &hellip;not just<br><br>
        h2 transform and opacity

      +slide('materialdesign-alarm')
        h2 Material Design

      +slide('orange cascade')
        h2 Material design<br><br>
        h2 for the web?

      +slide('polymer')
        h1 Polymer

      +slide('green')
        iframe.phone(src='https://www.polymer-project.org/apps/topeka/')

      +slide('blue')
        iframe.phone(src='https://www.polymer-project.org/components/paper-elements/demo.html#paper-checkbox')

      +slide('code')
        pre.language-markup
          code.
            &lt;core-header-panel&gt;

            &lt;core-toolbar&gt;

            &lt;paper-checkbox&gt;

            &lt;paper-dialog&gt;

      +slide('grey cascade')
        h2 material-ui<br><br><br>
        h2 react-material<br><br><br>
        h2 angular-material

      +slide('blue')
        h2 Priority?

      +slide('chrome-task-switcher')
        h4 Chrome + Task Switcher + Theme Colours

      +slide('code')
        pre.language-javascript
          code.
            &lt;meta name="theme-color" content="#db5945"&gt;

      +slide('green')
        h2 Convenience?

      +slide('blue cascade')
        .avatar(style='background-image:url(images/brucelawson.jpg)')
        h3(style='width: 600px') &ldquo;What we need is a method of &ldquo;installing&rdquo; web apps so they are indistinguishable from any other app installed on a user&rsquo;s device&rdquo;
        h4 Bruce Lawson, Opera

      +slide('grey')
        h2.cascade
          div Web<br><br><br>
          div application<br><br><br>
          div manifest

      +slide('code')
        pre.language-javascript
          code.
            { "name": "My App",
              "icons": [...],
              "display": "fullscreen",
              "orientation": "portrait",
              "start_url": "/index.html"
              "service_worker": {
                "src": "app.js",
                "scope": "/myapp" } }

      +slide('green')
        h2.cascade
          div Install<br><br><br>
          div via<br><br><br>
          div manifest

      +slide('code')
        pre.language-javascript
          code.
            navigator.mozApps.install('/manifest.json');

      +slide('orange')
        h2 Engagement?

      +slide
        h1 ServiceWorker

      +slide('green cascade')
        .avatar(style='background-image:url(images/jaffathecake.jpg)')
        h3(style='width: 550px') &ldquo;ServiceWorker changes the scope of the web more than any feature since XHR&rdquo;
        h4 Jake Archibald, Google

      +slide('blue cascade')
        .avatar(style='background-image:url(images/alexrussell.png)')
        h3(style='width: 770px') &ldquo;&hellip;basically an in-browser proxy that gives you the power to script what happens before you go to the network, and what happens after you get back from the network&rdquo;
        h4 Alex Russell, Google

      +slide('yellow cascade')
        .avatar(style='background-image:url(images/nikhilmarathe.jpg)')
        h3(style='width: 700px') &ldquo;Since Service Workers run in the &ldquo;background&rdquo;, they open up several possibilities for the Web that were previously only available on native platforms&rdquo;
        h4 Nikhil Marathe, Mozilla

      +slide('orange')
        h2 Service Workers<br><br><br>completely redefine<br><br><br>the web

      +slide('green')
        iframe.phone(src='https://jakearchibald.github.io/trained-to-thrill/')

      +slide('grey cascade')
        h2 ServiceWorker
        h3 +
        h2 Fetch/Cache APIs
        h3 +
        h2 Push &amp; Notification APIs
        h3 +
        h2 Background Sync API

      +slide('green')
        h2 The future?

      +slide('orange')
        h2.cascade
          div Native<br><br><br>
          div apps<br><br><br>
          div the<br><br><br>
          div exception?

      +slide('green cascade')
        .avatar(style='background-image:url(images/michaelbleigh.jpg)')
        h3(style='width: 700px') &ldquo;&hellip; the native app pendulum has swung out about as far as it can, and in the next few years we&rsquo;ll start seeing it swing back toward web tech again&rdquo;
        h4 Michael Bleigh, Divshot

      +slide('blue')
        h2 Watch this space

      +slide('cascade')
        img.avatar(src='images/profile.jpg', style='border:none')
        a(href='http://bit.ly/futureofwebapps', style='border:none')
          h4 bit.ly/futureofwebapps


    script(src='build/build.js')
